.que.regexp .answer {
    padding: 0.3em;
    width: auto;
    display: inline;
    color:green;
}
/* for displaying alternate answers in question preview */
#alternateanswers {
    background-color: #FFFFCC;
    line-height:1em;
}
/* for displaying alternate answers in question edit form */
.alternateanswers {
    background: #e4f1fa;
}
.alternateanswers .regexp,
#alternateanswers .regexp {
    color:#333;
    font-weight: bold;
	}
.que.regexp .answer input {
    width: 80%;
}
.misplacedword, wrongword, maxtotalpenalties {
    color:#FF0000;
}
.wrongword {
    text-decoration:line-through;
}
/* must be a monospace font for correct display of erroneous characters position */
.displayvalidationerrors {
	font-family: Courier New, Courier, monospace;
	color: blue;
	font-size: 0.9em;
}
.alternateanswers ul.square,
#alternateanswers ul.square {
    list-style: square;
}
.alternateanswers ul {
    margin:0;
}