.misplacedword,
.wrongword  {
    color: white;
    font-size: 75%;
}
.misplacedword {
    background-color: #5cb85c;
}
.correctword {
    color: #0000FF;
}
.wrongword {
    background-color: #d9534f;
}
.collapsibleregioncaption {
    display: none;
}